################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ISO14443Analyzer/ISO14443Analyzer.VC.VC.opendb
