################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ISO14443Analyzer/x64/Debug
/ISO14443Analyzer/Debug
*.opensdf
